<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <p>Enough people have purchased <%= @product.name %>. Congratulations, your product is on the way!</p>
    <br>
    <p>Your friends at Common Fibers</p>
  </body>
</html>
