<p>

Thank you for your purchase! Your order of $<%= $total %> will not be charged until the rest of the items are sold.

<br>

<%= link_to 'Buy more!', root_path %>


<!-- will not be charged until   @purchase.qty  items of #(@purchase.products.name) has been sold. -->




</p>
